*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: ;
}
body{
    background-color:rgb(153, 108, 196) ;
}
main{
    background-color: white;
    width: 500px; ;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(red, green, blue, alpha);
}